- content_for :head do
  = stylesheet_link_tag 'home'
  = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway:400,900,800'

.verdict-container
  - if @verdict == 'success'
    %h1 Congratulations !
    %h2 Your application was successfully submitted
  - else
    %h1 We are Sorry!
    %h2 Your application could not be submitted
    %p.error-explanation
      = flash[:error]
