.header#header
  %h1.site_title#site_title Corealis
  .page-title-container
    %h2.page-title
      = "Previewing Quiz on #{quiz_session.quiz.title.titleize} with #{quiz_session.interviewee.name.titleize}"
