.sidebar
  .nav-container
  .question-list-container.panel
    %h3.section-title.centered Questions in this Quiz
    .panel-contents
      %ol.submitted-question-list
        = render 'quiz_session_preview/question_list', quiz_session: quiz_session
        = link_to 'End Session', quiz_session_path(quiz_session), method: :patch, remote: true, params: { quiz_session: { meta: { end: 'now' }}}.to_json
        = link_to 'Add question to quiz', new_admin_question_path(quiz_id: quiz_session.quiz_id), target: '_blank'
        = link_to 'Manage Quiz', admin_quiz_path(quiz_session.quiz_id), target: '_blank'
