- content_for :body do

  .page-container

    = render 'devise_notifications'

    .header-container
      %h1 #{Setting['organization.name']}
      %h2 is using Corealis to manage its online interviews

    .description-container.h-sym-pad
      %p #{Setting['organization.description']}
