.panel
  %h3.section-title
    - if answer.history
      .rfloat
        = link_to "Replay Answer Submission", question_submission_preview_path(answer.id), class: 'replay-ans', remote: true
    - if current_admin_user
      Submitted Answer
    - else
      You answered
  .panel-contents.section-description.answer-details-container
    - if answer.details
      = answer.details.html_safe
    - else
      .zilch-container
        Applicant has not yet submitted an answer
