.section-title
  - if current_admin_user
    Submitted Answer
  - else
    You answered
.section-description
  - if answer.details
    = answer.details.html_safe
  - else
    Applicant has not yet submitted an answer
