.completion-message-container
  .ok-icon-container
    = image_tag 'ok_icon'
  .primary-msg All Done.
  .secondary-msg Thank you for participating in this quiz session. We will get back to you shortly.
