.sidebar
  .nav-container
  .question-list-container
    .section-title.centered Answered Questions
    %ol.submitted-question-list
      = render 'quiz_sessions/submitted_question_list', quiz_session: quiz_session
