.sidebar
  .nav-container
  .question-list-container.panel
    %h3.section-title.centered Answered Questions
    .panel-contents
      %ol.submitted-question-list
        = render 'quiz_sessions/submitted_question_list', quiz_session: quiz_session
