- content_for :head do
  = stylesheet_link_tag "quiz_session"
  = javascript_include_tag "quiz_session"

- content_for :body do
  .page-container
    .sidebar
      .nav-container
      .question-list-container
        %h1 Questions
    .qs-body
      .question-container
        - if @current_question
          = @current_question.rendered_description
      .answer-container
