.page-container {
    border-top: 4px solid #195A9C;
}

body, html {
    margin: 0;
    padding: 0;
}

.h-sym-pad {
    padding: 0 15px 0 15px;
}

.header-container {
    padding: 15px;
    background: #DDF2FF;
}
