//= require codemirror
//= require codemirror/themes/night
//= require normalize-rails
//= require ./utils

body * {
    font-family: arial;
}

.page-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background: #DEF2FF;
    border-right: 2px solid #195A9C;
}

.nav-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    background: #1E5B9A;
}

.question-list-container {
    position: absolute;
    left: 50px;
    top: 0;
    bottom: 0;
    right: 0;
}

.qs-body {
    position: absolute;
    left: 302px;
    bottom: 0;
    right: 0;
    top: 0;
}

.question-container {
    border-bottom: 4px solid #DDF2FF;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 250px;
}

.answer-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 104px;
}

.section-title {
    background: #87D0FD;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-weight: 100;
    line-height: 1.5em;
}
