//= require normalize-rails
//= require trix
//= require ./common/page
//= require ./common/utils

.page-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
}

.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background: #F0F7FC;
    border-right: 2px solid #195A9C;
    overflow: auto;
}

.nav-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    background: #1E5B9A;
}

.question-list-container {
    position: absolute;
    left: 50px;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

.qs-body {
    position: absolute;
    left: 302px;
    bottom: 0;
    right: 0;
    top: 0;
    overflow: auto;
}

.question-container {
    border-bottom: 4px solid #DDF2FF;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 250px;
    overflow: auto;
}

.answer-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 254px;
    overflow: auto;
}

trix-editor {
    border: none;
}

.answer-details-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 40px;
    overflow: auto;
}

.answer-details-container textarea {
    width: 100%;
    height: 100%;
    border: none;
}

.answer-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;

    .progress-status {
        float: right;
        color: #ddd;
        margin-top: 10px;
        margin-right: 10px;
    }

    .ans-submit-btn {
        margin-left: 10px;
        border-radius: 20px;
        background: #195A9C;
        color: white;
        padding: 10px 20px;
        border: none;
    }
}

.section-title {
    background: #87D0FD;
    margin: 0;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.5rem;
}

.section-description {
    padding: 10px;
}

.answer-details-container {
    padding-top: 8px;
    overflow: auto;
}

.answer-details-container > trix-toolbar {
    margin-left: 8px;
    text-align: center;
}

.submitted-question-list {
    list-style-type: none;
    padding: 0;

    a {
        text-decoration: none;
        display: block;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
    .question-title {
        font-size: 1rem;
        padding-right: 1rem;
        color: #1D4F83;
    }
}

.completion-message-container {

    text-align: center;
    margin: 100px auto;
    max-width: 60%;

    .primary-msg {
        font-weight: 900;
        color: #073908;
        font-size: 3rem;
        padding: 0;
        margin: 0;
        line-height: 6rem;
    }

    .secondary-msg {
        color: silver;
        font-size: 1.5rem;
    }
}


